@use '../../styles/_variables.scss' as *;
@use '../../styles/_mixins.scss' as *;

.login-container {
    @include flex-center(column);
    min-height: 100vh;
    padding: 1rem;

    h1 {
        font-size: 2.5rem;
        margin-bottom: 1rem;
        color: $primary-color;
    }
    .login-box {
        background: white;
        padding: 2rem;
        border-radius: $border-radius;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        width: 100%;
        max-width: 400px;


        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;

            input[type="email"],
            input[type="password"] {
                @include input-style();
            }

            .submit-button {
                @include button-style($primary-color, $primary-hover-color);
            }

            .error-message {
                color: $error-color;
                font-size: $font-size-base;
            }
    
        }
    }
    .go-to-signup {
        margin-top: 20px;
        color: $primary-color;
        font-size: $font-size-base;
        cursor: pointer;
  
        a {
            text-decoration: none;
            color: inherit;
  
            &:hover {
                text-decoration: underline;
            }
        }
    }
}
